@model IList<baithuocdangian.Models.tbl_Config>
<div class="khoifooter">
    <div class="thongtin" >
        <p > @Html.Raw(@Model.First().Thontin_coppy)</p>
    </div>
</div>
<div class="clear"></div>
<div id="banquyenfooter"> <a href="#">Giới thiệu</a> - <a href="http://thuocquy.somee.com/" rel="nofollow">Privacy Policy</a> - thuocquy.somee.com © 2014-2015. All Rights Reserved. Powered by VanLong - Design and Optimization SEO By: <a href="https://www.facebook.com/long.buivan.7" rel="nofollow" target="_blank">Bùi Văn Long</a></div>

