<div class="box1-footer">
    <ul>
        <li class="videofooter">
            <a href="http://baithuocdangian.com/thuc-pham-nao-giup-dao-thai-chat-doc-ra-khoi-co-the.html">
                <img class="attachment-anhlonhome wp-post-image" width="200" height="153" alt="cay-nam" src="~/Content/Images/lua-chon-thuc-an-nhanh-dam-bao-suc-khoe-cho-tre-301-300x250.jpg">
            </a>
            <a href="http://baithuocdangian.com/thuc-pham-nao-giup-dao-thai-chat-doc-ra-khoi-co-the.html">Thực phẩm nào giúp đào thải chất độc ra khỏi cơ thể</a>
        </li>

    </ul>
</div>
