<div class="box">

    <div id="box-slidershow">
        @Html.Raw(ViewBag.View)
    </div>

    <div id="box-left">
        <div class="tinmoi">
            <p>@Html.Raw(ViewBag.dm)</p>
        </div>

        <ul>
            @Html.Raw(ViewBag.sang)

        </ul>

    </div>
 
    <div class="clear"></div>
    
    @Html.Raw(ViewBag.box)

    </div>

