<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/Content/Login/Styles/bootstrap.css" rel="stylesheet" />


    <link href="~/Content/font-awesome-4.2.0/css/font-awesome.css" rel="stylesheet" />

    <link href="~/Content/Login/Styles/style_default.css" rel="stylesheet" />
    <link href="~/Content/Login/Styles/style-dangnhap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
